extends ../../layouts/default.pug

block main
    h1 Product Lists

    .card.mb-3
        .card-header Search and Filter
        .card-body
            each button in filterButtons
                button(class=`btn btn-sm ml-1 btn-outline-success ${button.class}` stock=button.stock) #{button.buttonName}
    table.table.table-hover.table-sm
        thead
            tr
                th N.o
                th Image
                th Title
                th Price
                th Stock
                th Action
        tbody
            each item, index in products
                tr
                    td #{index + 1}
                    td
                        img(
                            src=item.images
                            alt="Product 1"
                            width="100px"
                            height="auto"
                        )
                    td #{item.title}
                    td #{item.price.toFixed(0)}$
                    td
                        if item.stock > 0
                            a(href="#" class="badge bg-success") #{item.stock}
                        else
                            a(href="#" class="badge bg-danger") #{item.stock}
                    td
                        button(class="btn btn-warning btn-sm") Modify
                        button(class="btn btn-danger btn-sm ml-1") Delete