extends ../../layouts/auth.pug
include ../../../utils/alert.pug

block main
    +alert-error("5000")
    .container.my-5
        .row.justify-content-center
            .col-8
                h1.text-center Login
                form(
                    action="/admin/auth/login"
                    method="POST"
                    id="form-login"
                )
                    .form-group
                        label(for="email") Email
                        input(
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            required
                        )
                    .form-group
                        label(for="email") Password
                        input(
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            required
                        )
                    .form-group
                        button(
                            type="submit"
                            class="btn btn-primary btn-block"
                        ) Log In
                        div.text-center.mt-3
                            a.form-login-back(href="/") ← Back to home