extends ../../layouts/default.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
include ../../mixins/delete_item.pug

block style
    link(href="/admin/css/category.css" rel="stylesheet")
block main
    h1 Product Category

    +alert-success("5000")
    +alert-error("5000")
    a.btn.btn-outline-success(
        create-category
        href=`/admin/category/create`
    ) + New Category
    table.table.table-hover.table-sm
        thead
            tr
                th N.o
                th Category
                th Quantity
                th Action
        tbody
            each item, index in categories
                tr
                    //- td #{index + 1 + (pagination.currentPage - 1) * pagination.limitItems}
                    td #{index + 1}
                    td #{item.name}
                    td #{item.quantity}
                    td
                        a(
                            class="btn btn-warning btn-sm"
                            href=`/admin/category/edit/${item.id}`
                            modify-category

                        ) Modify
                        //- href=`/admin/category/edit/${item.id}?page=${pagination.currentPage}`
                        button(
                            class="btn btn-danger btn-sm ml-1 delete"
                            data-id=item.id
                            delete-category
                        ) Delete
    //- +pagination(pagination)
    +delete_item("category")
block script
    script(src="/admin/js/category.js")