extends ../../layouts/default.pug
include ../../mixins/box_head.pug

block style
    link(href="/client/css/product.css" rel="stylesheet")
block main
    .product-page
        //- Filter Sidebar
        aside.filter-sidebar
            .filter-header
                h3 Filters
                //- .filter-buttons
                //-     button.filter-apply(type="submit") Apply
                //-     button.filter-reset(type="submit") Clear
            //- Category Filter
            .filter-section
                h4.filter-title
                    span Category
                    i.fa-solid.fa-chevron-down.toggle-icon
                .filter-content.active
                    each category in categories
                        label.filter-checkbox
                            input(type="checkbox" name="category" value=category._id)
                            span.checkmark
                            span.label-text= category.name

            //- Price Range Filter
            .filter-section
                h4.filter-title
                    span Price Range
                    i.fa-solid.fa-chevron-down.toggle-icon
                .filter-content.active
                    label.filter-checkbox
                        input(type="checkbox" name="price" value="0-20")
                        span.checkmark
                        span.label-text Under $20
                    label.filter-checkbox
                        input(type="checkbox" name="price" value="20-40")
                        span.checkmark
                        span.label-text $20 - $40
                    label.filter-checkbox
                        input(type="checkbox" name="price" value="40-60")
                        span.checkmark
                        span.label-text $40 - $60
                    label.filter-checkbox
                        input(type="checkbox" name="price" value="60-100")
                        span.checkmark
                        span.label-text $60 - $80
                    label.filter-checkbox
                        input(type="checkbox" name="price" value="100-99999")
                        span.checkmark
                        span.label-text Over $100
            .filter-buttons
                button.filter-apply(type="button") Apply
                button.filter-reset(type="button") Clear

        //- Products Grid
        main.products-main
            .container-fluid
                .row.mb-4
                    .col-12
                        +box-head("Books List")
                if products.length > 0
                    .products-grid
                        each item in products
                            a.product-link(href=`/product/detail/${item.slug}`)
                                .product-item
                                    .inner-image
                                        img(src=item.images alt=item.title)
                                    .inner-content
                                        h3.inner-title= item.title
                                        if item.discountPercentage != 0
                                            .inner-price-new #{(((100 - item.discountPercentage) * item.price) / 100).toFixed(0)}$
                                            .price-details
                                                span.inner-price-old #{item.price}$
                                                span.inner-discount -#{item.discountPercentage}%
                                        else
                                            .inner-price-new #{item.price}$
                else
                    h3 No products found

block script
    script(src="https://kit.fontawesome.com/15f24667ff.js" crossorigin="anonymous")
    script(src="/client/js/product.js")