extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/delete_item.pug

block style
    link(href="/admin/css/role.css" rel="stylesheet")
block main
    if role.permissions.includes("role-view")
        h1 Roles Management

        +alert-success("5000")
        +alert-error("5000")
        if role.permissions.includes("role-create")
            a.btn.btn-outline-success(
                create-role
                href=`/admin/role/create`
            ) + New Role
        table.table.table-hover.table-sm.role-mamagement
            thead
                tr
                    th N.o
                    th Role
                    th Short Desciption
                    th Quantity
                    if role.permissions.includes("role-edit" || "role-delete")
                        th Action
            tbody
                each item, index in roles
                    tr
                        td #{index + 1}
                        td #{item.name}
                        td #{item.description}
                        td #{item.quantity}
                        if role.permissions.includes("role-edit" || "role-delete")
                            td
                                if role.permissions.includes("role-edit")
                                    a(
                                        class="btn btn-warning btn-sm"
                                        href=`/admin/role/edit/${item.id}`
                                        modify-role

                                    ) Modify
                                if role.permissions.includes("role-delete")
                                    button(
                                        class="btn btn-danger btn-sm ml-1 delete"
                                        data-id=item.id
                                        delete-role
                                    ) Delete
        +delete_item("role")
    else
        h1 Oops !!! You need authorization to access
block script
    script(src="/admin/js/role.js")