extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-error("5000")
    form#edit-form.product-form(
        action=`/admin/product/edit/${product.id}?_method=PATCH&page=${currentPage}`
        enctype="multipart/form-data"
        method="POST"
    )
        h2 Edit Product

        .row.g-3
            .col-md-6
                label(for="title") Title
                input(
                    value=product.title
                    type="text"
                    id="title"
                    name="title"
                    placeholder="* Required"
                    required
                )

            .col-md-6
                label(for="price") Price ($)
                input(
                    value=product.price
                    type="number"
                    id="price"
                    name="price"
                    min="0"
                    step="0.01"
                    placeholder="* Required"
                    required
                )

            .col-md-6
                label(for="discountPercentage") Discount (%)
                input(
                    value=product.discountPercentage
                    type="number"
                    id="discountPercentage"
                    name="discountPercentage"
                    min="0"
                    max="100"
                )

            .col-md-6
                label(for="stock") Stock
                input(
                    value=product.stock
                    type="number"
                    id="stock"
                    name="stock"
                    min="0"
                    placeholder="* Required"
                    required
                )

            .col-12
                label(for="images") Image
                input(

                    type="file"
                    class="form-control-file"
                    id="images"
                    name="images"
                    accept="image/*"
                    upload-image-input
                )
                if product.images
                    img(src=product.images upload-image-preview)
            .col-md-6
                label(for="category") Category
                input(value=product.category type="text" id="category" name="category")

            .col-md-6
                label(for="position") Display Position
                input(
                    value=product.position
                    type="number"
                    id="position"
                    name="position"
                    min="1"
                    placeholder="Append to the end by default"
                )

            .col-12
                label(for="description") Description
                textarea#description(
                    name="description"
                    rows="4"
                    placeholder="Enter product description..."
                )= product.description

        .mt-4.text-end
            a.btn-reset.text-decoration-none(href="/admin/product") Cancel
            button.btn-submit(type="submit") Update
